/* 全局颜色 */
page {
	background-color: #f5f5f7;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
	color: transparent;
}

image {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}

/* 背景颜色 */
.bg-color {
	background-color: #f5f5f7
}

/* 默认字体颜色 */
.font-color {
	color: #000000
}

/* 选中字体颜色 */
.font-active-color {
	color: #0066cc
}

/* 状态栏 */
.status_bar {
	height: var(--status-bar-height);
	width: 100%;
	background-color: black;
}

/* 自定义导航栏 */
.wx-nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	box-sizing: border-box;
	padding: 20rpx 10rpx;
	width: 100vw;
	height: 118rpx;
	background-color: black;
}

.wx-nav-title {
	text-align: center;
	color: #ffffff;
	width: 320rpx;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.flex-item {
	flex: 1;
}


.sticky {
	position: sticky;
	z-index: 2;
	top: 0;
}
